//http://stackoverflow.com/questions/29008914/how-to-add-image-in-quill-js
extends layout

block content
	script(src='//cdn.quilljs.com/1.2.3/quill.js')
	script(src='//cdn.quilljs.com/1.2.3/quill.min.js')
	.container
		.row
			.col-xs-6
				
				iframe(src="http://people.bath.ac.uk/pr422/EmpiricalStudies.pdf", style="width:550px; height:515px;", frameborder="0") 
		
			.col-xs-6
				#editor
					p How to Conduct an Empirical Study
					p Choose research questions 
					p Specific enough to be answerable, general enough to be interesting
					p Specify the scope (e.g. target population)
					br
					p Specify methodology, i.e. how we get data
					p For example:
					p Define tasks (i.e. what do users do during the study)
					p Define variables and specify how they are measured
					p specify hypotheses based on the variables
					p Create a script for the study (step-by-step guide)
					p Conduct a pilot study and revise methodology
					p Use script to collect data (e.g. from participants)
					p Analyse the data, test hypotheses, interpret & discuss

	.container
		.row 
			.col-xs-3
			.col-xs-3
				.centered
					a.btn.btn-default(href="http://localhost:3000", role="button") Cancel
			.col-xs-3
				.centered
					a.btn.btn-primary(href="http://localhost:3000/download", role="button") Done
			.col-xs-3

	script.
		var toolbarOptions = [
			[{ 'size': ['small', false, 'large', 'huge'] }],  
			[{ 'header': [1, 2, 3, 4, 5, 6, false] }],
			[{ 'font': [] }],
			['bold', 'italic', 'underline', 'strike'],   
			[{ 'list': 'ordered'}, { 'list': 'bullet' }], 
			[{ 'color': [] }, { 'background': [] }],      
			[{ 'align': [] }],
			[{ 'indent': '-1'}, { 'indent': '+1' }],   
			['blockquote', 'code-block'],
			[{ 'script': 'sub'}, { 'script': 'super' }],      
			[  'image', 'formula' ],          
			['clean']                                       
			];
		var quill = new Quill('#editor', {
		modules: {
			toolbar: toolbarOptions
		},
		theme: 'snow'
		});

	style.
		#editor {
			height: 450px;
		}

