extends layout

block content
	.container
		.row
			.col-xs-6
				
				iframe(src="http://people.bath.ac.uk/pr422/EmpiricalStudies.pdf", style="width:550px; height:570px;", frameborder="0") 
		
			.col-xs-6
				#editor2
					p How to Conduct an Empirical Study
					p Choose research questions 
					p Specific enough to be answerable, general enough to be interesting
					p Specify the scope (e.g. target population)
					br
					p Specify methodology, i.e. how we get data
					p For example:
					p Define tasks (i.e. what do users do during the study)
					p Define variables and specify how they are measured
					p specify hypotheses based on the variables
					p Create a script for the study (step-by-step guide)
					p Conduct a pilot study and revise methodology
					p Use script to collect data (e.g. from participants)
					p Analyse the data, test hypotheses, interpret & discuss

	.container
		.row 
			.col-xs-6
				.centered
					a.btn.btn-default(href="http://localhost:3000", role="button") Cancel
			.col-xs-6
				.centered
					a.btn.btn-primary(href="http://localhost:3000/download", role="button") Done


	script(src='https://cdn.quilljs.com/1.2.2/quill.js')
	script.
		
		var quill = new Quill('#editor2', {
		theme: 'snow'
		});
