//Code sourced from http://ibootstrap.net/Snippets/IDXbSx/Drag-and-Drop-File-Upload#
//And using http://www.dropzonejs.com/
extends layout

block content
  
  .container
  script(src='javascripts/dropzone.js') 
  
  .panel.panel-default    
    .panel-body
      
      // Drop Zone      
      form.drop-zone.upload-drop-zone
        .dropzone(type='file', action='/file-upload')        
          img(src='/images/Drop_File.svg', alt='Please Drop a file Here', style='width:300px;height:228px;')   

      // Standard Form
      h4 Or, select files from your computer
      form#js-upload-form(action='', method='post', enctype='multipart/form-data')
        .form-inline
          .form-group
            input#js-upload-files(type='file', name='files[]', multiple='')
          button#js-upload-submit.btn.btn-sm.btn-primary(type='submit') Upload files
      // Progress Bar
      .progress
        .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
          span.sr-only 60% Complete    
// /container



