//Code sourced from http://ibootstrap.net/Snippets/IDXbSx/Drag-and-Drop-File-Upload#
//And using http://www.dropzonejs.com/
extends layout



block content
	script(src='javascripts/dropzone.js')
	.container
		.row
			.col-xs-12
				.panel.panel-default
					.panel-body.shadebackground
						
						// Drop Zone
						form.dropzone(type='file', action='/file-upload')
							.dz-message
								img(src='/images/Drop_File.svg', alt='Please Drop a file Here', style='width:300px;height:300px')
			
