//Code sourced from http://ibootstrap.net/Snippets/IDXbSx/Drag-and-Drop-File-Upload#
//And using http://www.dropzonejs.com/
extends layout



block content
	script(src='javascripts/dropzone.js')
	script(src ='javascripts/dropaction.js')
	.container
		.row
			.col-xs-12.centered
				P.description Summarise your lecture slides into text for studying in seconds!
		.row
			.col-xs-12
				.panel.panel-default
					.panel-body.shadebackground
						
						// Drop Zone
						form.dropzone#dropzone(type='file', action='file_upload')
							.dz-message
								i.fa.fa-file-text-o.fa-4x(aria-hidden='true')
								p Drop File Here
								u click to select file
		.row
			.centered
				.col-xs-4
					img(src='/images/textbox-info.svg', alt='info1')
				.col-xs-4
					img(src='/images/filetype-info.svg', alt='info2')
				.col-xs-4
					img(src='/images/serverside-info.svg', alt='info3')
