/* CSS used here will be applied after bootstrap.css */

.navbar_custom 
{
    color: #FFFFFF;
    background-color: #333A56;
}

.navbar_custom .navbar-brand
{
    color: #FFFFFF;
    font-size: 30px;
}

