body 
{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.navbar{
  margin-bottom: 0;
}

.dropzone
{
  height: 300px;
  border-width: 3px;
  margin-bottom: 20px;
  background-color:#52658F;
  color: #111111;  
  font-size: 30px; 
  border-style: dashed;
  border-color: #ffffff;  
  text-align: center
}

