body 
{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.navbar{
  margin-bottom: 0;
}

.dropzone
{
  height: 300px;
  border-width: 4px;  
  background-color:#52658F;
  color: #111111;  
  border-style: dashed;
  border-color: #414A64;  
  text-align: center;
  padding: 1% 10%;  
}






